<div class="home">
    <div class="theme">
        <div class="theme_content">
            <h1>マップをシェアしよう。</h1>
            <p>今までに行ったおすすめスポットを友達とマップでシェアできる</br>
            新感覚のアプリです。</p>
        </div>
            <%= image_tag "smartphone.jpg" ,class:"smartphone"%>
    </div>
    <div class="theme">
        <%= image_tag "girl.jpg", class:"girl"%>
        <div class="theme2_content">
            <h1>めっちゃ便利。</h1>
            <p>旅行先付近で知り合いがおすすめしているスポットが一瞬でわかる。</br>
            さらに、知り合いのおすすめスポットが簡単に見れるので、</br>
            旅行プランも安心して決めることができる。</p>
        </div>
    </div>
    <div class="theme">
        <div class="theme3_content">
            <h1>わかりやすい。</h1>
            <p>各ユーザーのマップや各地域のマップ、各ジャンルのマップなど</br>
            さまざまな種類のマップを見ることができます。</br>
            また、おすすめスポットのジャンルによってピンの色を使い分けできます。</p>
        </div>
        <%= image_tag "useful.jpg", class:"useful"%>
    </div>
</div>